doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block style
      link(rel='stylesheet', href='/css/style.css')
    block script
      script(type='application/javascript', src='/jspm_packages/system.js')
      script(type='application/javascript', src='/config.js')
  body
    block content
