doctype html
html
  head
    title= title
    block style
      link(rel='stylesheet', href='/css/style.css')
    block script
      script(type="application/javascript", src="/jspm_packages/system.js")
      script(type="application/javascript", src="/config.js")
  body
    block content
