* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-size: 14px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

.entry {
  display: flex;
  align-items: flex-start;
  margin: 16px;
}

.entryTimer {
}

.entryDetails {
  margin-left: 16px;
  flex-grow: 1;
}

.entryToken {
  font-size: 18px;
}

.entryLabel {
  padding-bottom: 16px;
  border-bottom: 1px solid #e6e6e6;
}
