* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  background: #fafafa;
  font-size: 14px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

.entry {
  display: flex;
  margin: 30px;
}

.entryTimer {
  margin-right: 8px;
}

.entryDetails {
  flex-grow: 1;
}

.entryToken {
  font-size: 18px;
}

.entryLabel {
  border-bottom: 1px solid #e6e6e6;
}
